@import url('https://fonts.cdnfonts.com/css/donegal-one');

.container {
    margin: 0;
    padding: 0;
    background-image: url("../../../../public/bck1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

.logOutContainer {
    margin-left: auto;
    margin-right: 3%;
    margin-top: 15px;
}

.logOut {
    width: 48px;
    transition: transform 0.3s ease;
}

.logOut:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.logoMarca {
width: 100%;
border-radius: 50%;
}

.imagemCard {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Estilo básico do botão hambúrguer */
#btn-menu {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
    position: relative;
    transition: transform 0.3s ease;
}

#btn-menu:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.linha {
    display: block;
    width: 45px;
    height: 7px;
    border-radius: 4px;
    margin: 5px auto;
    background-color: #32a68a;
    transition: all 0.3s ease;
}

/* Estilo do modal lateral */
.modal {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    z-index: 1000;
}

/* Conteúdo do menu */
.modal-conteudo {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.modal-conteudo a {
    color: #32a68a;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease;
    padding: 8px 0px 8px 8px;
    font-weight: bolder;
    font-family: 'Donegal One', sans-serif;
}

.modal-conteudo a:hover {
    background-color: #a4adb3;
    padding: 10px 0px 10px 10px;
    width: 96%;
}

/* Classe ativa para mostrar o menu */
.modal.ativo {
    left: 0;
}

#btn-menu.ativo .linha:nth-child(1) {
    transform: rotate(45deg) translate(11px, 11px);
}

#btn-menu.ativo .linha:nth-child(2) {
    opacity: 0;
}

#btn-menu.ativo .linha:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 999;
    display: none;
}

/* Quando o menu está ativo, mostra o overlay */
.overlay.ativo {
    display: block;
}

/* carrossel */

/* pointer ao elemento principal */
.carrossel {
    cursor: pointer;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 900px;
    height: 73vh;
    background: transparent;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 14px 8px rgba(15, 14, 14, 0.3);
    display: block;
    margin-left: auto;
    margin-right:auto ;
}

.caption {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right:auto ;
}

.nav {
    background: transparent;
    border: none;
    font-size: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer; 
    transition: 0.2s ease;
}

.nav img{
    width: 128px;
}

.nav:hover {
    transform: scale(1.2);
}



/* footer */

footer {
    width: 100%;
    margin-top: 4.9%;
    position: relative;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

.footerContainer {
    align-items: center;
    display: flex;
}

.footerCopyright {
    margin-left: 40%;
    color: white;
}

.instagramFooter {
    width: 70px;
    transition: transform 0.3s ease;
}

.instagramFooter:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1250px){

.carousel{
    width: 700px;
    height: 100vh;
}

.logOut{
    width: 48px;
}

footer{
        width: 100%;
    position: relative;
}

}


@media screen and (max-width: 1000px){

    .carrossel{
        width: 100%;
    }

.carousel{
    width: 100%;
}

.carousel-wrapper{
    width: 100%;
    position: relative;
}

.carousel-wrapper img{
    width: 100%;
}

.nav{
    width: 100%;
}

.logOut{
    width: 48px;
}

footer{
    width: 100%;
    position: relative;
}

.footerCopyright{
    margin-left: auto;
    margin-right: auto;
}

}


@media screen and (max-width: 750px) {

    body {
        background-size: contain;
        background-position: center;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }


/* carrossel */

.carousel-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel{
    min-height: 79vh;
}

.carousel {
    margin-top: 20%;
    width: 250px;
    height: 250px;
    background: transparent;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 14px 8px rgba(15, 14, 14, 0.3);
display: block;
margin-left: auto;
margin-right:auto ;
}

.caption {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right:auto ;
}

.nav {
    background: transparent;
    border: none;
    font-size: 100px;
    width: 50px;
    height: 0px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}

.nav img{
width: 80%;
}

.nav:hover {
    transform: scale(1.2);
}


      footer {
width: 100%;
    position: relative;

}

.footerContainer {
    align-items: center;
    display: flex;
}

.footerCopyright{
    width: 150px;
margin-left: 15%;
}

.instagramFooter {
    width: 70px;
     margin-left: 5px;
}

    .logOutContainer {
        left: 90%;
        margin-right: 10%;
        margin-right: 10px;
        margin-top: 10px;
        position: absolute;
    }

    .logOut {
        width: 30px;
    }

    #btn-menu {
        padding: 8px;
    }

    .linha {
        width: 22px;
        height: 2px;
    }

    .modal {
        width: 24%;
    }

    .modal-conteudo a {
        font-size: 16px;
        padding-left: 10px;
    }

    .modal-conteudo a:hover {
        padding-left: 12px;
        width: 94%;
    }



    .logoMarca{
        width: 100%;
    }

    .fechar {
        font-size: 28px;
        top: 8px;
        right: 10px;
    }

    .modal.ativo {
        left: 0;
    }

    #btn-menu.ativo .linha:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #btn-menu.ativo .linha:nth-child(2) {
        opacity: 0;
    }

    #btn-menu.ativo .linha:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

}