@import url('https://fonts.cdnfonts.com/css/donegal-one');

/* ======== RESET ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D2D2D2;
    background-image:
        repeating-linear-gradient(to right, transparent 0 100px,
            #25283b22 100px 101px),
        repeating-linear-gradient(to bottom, transparent 0 100px,
            #25283b22 100px 101px);
}

body::before {
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* LOGO */

.logoImage {
    width: 300px;
    border-radius: 50%;
    margin-left: 30%;
    box-shadow: 0 0 15px 8px #464545;
}

/* texto principal */

.textoPrincipal {
    width: 500px;
    margin-top: 20px;
    z-index: 2;
    position: absolute;
}

.textoPrincipal h1,
.textoPrincipal p {
    color: #b9c0c4;
    margin-left: 100px;
    position: static;
    top: 0;
    margin-top: 4px;
    font-family: 'Donegal One', sans-serif;
}

/* container */

.container {
    display: flex;
    background-color: transparent;
    background-image: url("../../../../public/bck1.jpg");
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* left-side */
.left-side {
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: visible;
    transform-style: preserve-3d;
    position: relative;
}

.rightSideContent {
    position: relative;
    z-index: 9999;
}

.right-side {
    width: 30%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    background-color: rgba(125, 121, 121, 0.443);
    padding: 5%;
    box-shadow:
        -5px 0px 5px 0 rgba(125, 121, 121, 0.443),
        5px 0px 5px 0 rgba(125, 121, 121, 0.443);
}

.logo {
    width: 150px;
    margin-bottom: 25px;
}

h2 {
    color: white;
    margin-bottom: 5px;
    font-size: 24px;
}

p {
    color: white;
    margin-bottom: 5px;
}


/* SLIDER CARROSSEL */

@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner {
    width: 1500px;
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: -1%;
    margin-left: 100%;
    margin-top: 420px;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}

.banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content .author {
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}

.banner .content h2 {
    font-size: 3em;
}

@media screen and (max-width: 1023px) {
    .banner .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .banner .content h1 {
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }

    .banner .content .author {
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 767px) {
    .banner .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }

    .banner .content h1 {
        font-size: 5em;
    }
}

/* Linha para input + ícone ao lado  */
.input-row {
    display: flex;
    align-items: center;
    width: 406px;
    margin-bottom: 15px;
    gap: 10px;
}

.input-row1 {
    display: flex;
    align-items: center;
    width: 430px;
    margin-bottom: 15px;
    gap: 10px;
}

/* ======== INPUT ======== */
.input-box {
    flex: 1;
    height: 32px;
    background: white;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
}


.input-box input:focus {
    border: none;
    outline: none;
}

/* borda preta no input-box quando ativo */
.input-box:focus-within {
    border: 2px solid #000000;
}

.input-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    color: #555;
}

/* icons */
.input-icon1 {
    width: 15px;
    opacity: 0.8;
    margin-right: 10px;
}

.input-icon2 {
    opacity: 0.8;
    margin-right: 10px;
}

.status-icon {
    opacity: 0.8;
}

/*  LGPD */

.lgpd-consent {
    margin: 15px 0 5px 3px;
    display: flex;
    font-size: 0.9em;
    color: white;
}

/* Estilo para o link "Termo de Uso LGPD" */
.termos-link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
}

.lgpd-consent-check {
    margin-right: 2px;
}

/* Garante que o container LGPD seja o ponto de referência para o balão */
.lgpd-consent {
    position: relative;
}

/* Estilo do Balão de Aviso */
.aviso-balao {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffc107;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    white-space: nowrap;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.aviso-balao::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px 8px 0;
    border-style: solid;
    border-color: #ffc107 transparent transparent transparent;
}

/* ======== SWITCH ======== */
.auto-box {
    width: 330px;
    display: flex;
    align-items: center;
    margin: 10px 0 20px 95px;
    position: relative;
    color: white;
    font-size: 14px;
}

.auto-box span {
    flex: 1;
}

.spanLogar {
    margin-left: 110px;
}

.switch2 {
    position: relative;
    width: 40px;
    height: 20px;
    margin-right: 10px;
}

.switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: .3s;
}

.slider2:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: .3s;
}

input:checked+.slider2 {
    background-color: #2f9d85;
}

input:checked+.slider2:before {
    transform: translateX(20px);
}

.status-icon-small {
    width: 16px;
    opacity: 0.8;
}

/* ======== BOTÃO ======== */
.btn {
    width: 406px;
    padding: 12px;
    background: #b9c0c4;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background: #a4adb3;
}

/* footer */

footer {
width: 100%;
margin-top: 3.5%;
background-color: rgba(128, 128, 128, 0.5);
box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
position: absolute;
bottom: 0;
}

.footerContainer {
    align-items: center;
    display: flex;
}

.footerCopyright {
    margin-left: 40%;
}

.instagramFooter {
    width: 70px;
    transition: transform 0.3s ease;
}

.instagramFooter:hover {
    transform: scale(1.2);
}



/* =======================
   MEDIA QUERY
   ======================= */
@media (max-width: 1668px) {


    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .footerContainer {
        align-items: center;
        display: flex;
    }

    .footerCopyright {
        margin-left: auto;
        margin-right: auto;
    }

    .instagramFooter {
        width: 70px;
        margin-left: 5px;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .container {
        display: flex;
        width: 100%;
        height: 100vh;
    }


    .left-side {
        width: 600px;
        min-height: 100vh;
        margin-top: -90px;
    }

    .banner {
        max-width: 100%;
        margin-left: 135%;
        margin-right: auto;
    }

    .textoPrincipal {
        width: 100%;
        min-height: 100vh;
        margin-top: 15%;
    }

    .textoPrincipal h1 {
        width: 30%;
    }


    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    .logoImage {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .rightSideContent {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .right-side {
        min-width: 30%;
        height: 100vh;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
        padding: 40px 20px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .input-row {
        width: 92%;
        max-width: 350px;
    }

    .input-row1 {
        width: 100%;
        max-width: 375px;
    }


    .auto-box {
        width: 70%;
        max-width: 350px;
        margin-left: 3px;
        justify-content: space-between;
    }

    .spanLogar {
        margin-left: 0;
    }

    .btn {
        width: 100%;
        max-width: 350px;
    }

    .right-side h2 {
        margin-left: 60px;
    }
}

@media (max-width: 1500px) {
    .left-side {
        width: 600px;
        min-height: 100vh;
margin-top: -100px;
    }

    .banner {
        max-width: 100%;
        margin-left: 125%;
        margin-right: auto;
    }

    .textoPrincipal {
        margin-top: 100px;
    }

    .textoPrincipal h1 {
        width: 30%;
    }

}

@media (max-width: 1359px) {
    .left-side {
        width: 600px;
        min-height: 100vh;
margin-top: -100px;
    }

    .banner {
        max-width: 100%;
        margin-left: 115%;
        margin-right: auto;
    }

}

@media (max-width: 1300px) {
    .left-side {
        width: 600px;
        min-height: 100vh;
margin-top: -100px;
    }

    .banner {
        max-width: 100%;
        margin-left: 105%;
        margin-right: auto;
    }

}

@media (max-width: 1230px) {
    .left-side {
        width: 600px;
        min-height: 100vh;
margin-top: -100px;
    }

    .banner {
        max-width: 100%;
        margin-left: 100%;
        margin-right: auto;
    }

}

@media (max-width: 1200px) {
    .left-side {
        width: 600px;
        min-height: 100vh;
margin-top: -100px;
    }

    .banner {
        max-width: 100%;
        margin-left: 90%;
        margin-right: auto;
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .footerContainer {
        align-items: center;
        display: flex;
    }

    .footerCopyright {
        margin-left: auto;
        margin-right: auto;
    }

    .instagramFooter {
        width: 70px;
        margin-left: 5px;
    }

}



@media (max-width: 1180px) {
    .left-side {
display: none;
    }

    .banner {
        max-width: 100%;
        margin-left: 80%;
        margin-right: auto;
    }

        .banner {
        max-width: 100%;
        margin-left: 80%;
        margin-right: auto;
    }

    .right-side{
        width: 50%;
        align-items: center;
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 900px) {


    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

}


@media (max-width: 450px) {


    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .footerContainer {
        align-items: center;
        display: flex;
    }

    .footerCopyright {
        margin-left: 15%;
    }

    .instagramFooter {
        width: 70px;
        margin-left: 5px;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100vh;
    }
    .container {
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .left-side,
    .banner {
        display: none;
        width: 0;
    }

    .logoImage {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .rightSideContent {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .right-side {
        width: 100%;
        height: 100vh;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
        padding: 40px 20px;
        align-items: center;
        margin-left: 0px;
    }
    .input-row {
        width: 92%;
        max-width: 350px;
    }

    .input-row1 {
        width: 100%;
        max-width: 375px;
    }
    .auto-box {
        width: 70%;
        max-width: 350px;
        margin-left: 3px;
        justify-content: space-between;
    }

    .spanLogar {
        margin-left: 0;
    }

    .btn {
        width: 100%;
        max-width: 350px;
    }

    .right-side h2 {
        margin-left: 60px;
    }
}